<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PULSEImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PULSEImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <PULSEImport.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
        </PULSEImport.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PULSEImport.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Environment" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowChangeLog" serializeAs="String">
                <value>True</value>
            </setting>
        </PULSEImport.Properties.Settings>
    </userSettings>
</configuration>